@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');/* font-style */

body{
    background-color: #494949;
}
    a:hover{
        text-decoration: none!;
    }
    .card-ministyle{
        max-width: 65em;
        margin: auto;
        margin-top: 25vh;
        background-color: #adadad;
        box-shadow: 14px 14px 13px 1px rgba(0,0,0,0.75);
    }
    .img{
        width: 107%;
        border-radius: 5px;
    }
    .txt{
        text-align: initial;
        margin: 0 15px 0 15px;
    }
    .conocimientos{
        font-size: 35px;
        margin: 5px;
        margin-top: 40px;
        box-shadow: inset -8px 6px 23px 0px rgba(0,0,0,0.75);
        background-color: #3d3d3d;
        width: 50%;
        margin-left: 25%;
    }
    .social-media{
        font-size: 48px;
        margin: 0;
    }
    .footer{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-bottom: 5px;
        color: #c5c5c5;
        font-family: 'Mansalva', cursive;
        font-size: 1.05em;
        text-align: center;
    }

@media only screen and (max-width: 1120px) {
    .col-md-8 {
    flex: 0 0 20em;
    max-width: 20em;
    }
    .col-md-4 {
        flex: 0 0 19.9em;
        max-width: 20em;
    }
    .card-ministyle{
        width: 20em;
        margin-top: 0.5em;
    }
        .img{
            width: 100%;
        }
        .conocimientos{
            width: 100%;
            margin-left: 0;
        }
    .footer{
        bottom: unset;
    }
}